---
title: Le Wagon - Middleman
---

<div id="home" style="background-image: url('https://picsum.photos/1000/300')">
  <div class="home-content">
    <%= image_tag "logo.png", width: "200" %>
    <p>
      Middleman is now running!
    </p>
    <p class="about btn btn-primary">
      <%= link_to "More about this template", "about.html" %>
    </p>
  </div>
</div>
<div class="cards">
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Le Wagon Shanghai</h2>
        <p>Very cool city, the best</p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Le Wagon Shanghai</h2>
        <p>Very cool city, the best</p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/200/300/?random');">
      <div class="card-category">Popular</div>
      <div class="card-description">
        <h2>Le Wagon Shanghai</h2>
        <p>Very cool city, the best</p>
      </div>
      <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
      <a class="card-link" href="#" ></a>
    </div>
</div>
